# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Django specific
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
*.pdb
db.sqlite3
*.sqlite3-journal

# Ignore the local SQLite database
db.sqlite3
db.sqlite3-journal

# Ignore Django migrations
*/migrations/*

# If you are using PostgreSQL
*.pgsql

# Media files
/media/

# Static files
/static/

# Ignore the virtual environment directory
.venv/
env/
ENV/

# pipenv
Pipfile.lock

# VSCode specific
.vscode/

# Logs and temporary files
*.log
*.tmp
*.bak
*.swp
*~

# Ignore coverage reports
htmlcov/
.tox/
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
*.cover
*.py,cover
.cache

# Ignore environment variables file
.env